<p>
  <mat-toolbar color="warn">
    <button mat-icon-button class="example-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Study App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<div class="content" role="main">
  <h1>Welcome to study system!</h1>
  <nav>
    <a routerLink="/" routerLinkActive="active">Home | </a>
    <a routerLink="/login-signup" routerLinkActive="active">Login-Signup | </a>
    <a routerLink="/teacher" routerLinkActive="active">Teacher</a>
  </nav>

  <router-outlet></router-outlet>
</div>


