<div id="message" *ngIf="showMessage">
  <p>{{ message }}</p>
</div>

<div id="login">
  <h2>Login</h2>
  <form #userForm=ngForm (ngSubmit)="login(userForm)">
    <label for="email">Email: </label>
    <input type="email" id="email" name="email" [(ngModel)]="loginEmail" required="required"/>

    <label for="password">Password: </label>
    <input type="password" id="password" name="password" [(ngModel)]="loginPassword" required="required"/>
    <br/>
    <input type="submit" value="Login"/>
  </form>
</div>

<div id="signUp">
  <h2>Signup</h2>
  <form #userForm=ngForm (ngSubmit)="signUp(userForm)">
    <label for="firstName">First name: </label>
    <input type="text" id="firstName" name="firstName" [(ngModel)]="firstName" required="required"/>

    <label for="lastName">Last name: </label>
    <input type="text" id="lastName" name="lastName" [(ngModel)]="lastName" required="required"/>

    <label for="signup-email">Email: </label>
    <input type="email" id="signup-email" name="email" [(ngModel)]="email" required="required"/>

    <label for="signup-password">Password: </label>
    <input type="password" id="signup-password" name="password" [(ngModel)]="password" required="required"/>
    <br/>
    <input type="submit" value="Signup"/>
  </form>
</div>